<div class="chaotic-container-regular">
    <ol class="relative">
        <li class="mb-10 md:px-20">
            @for (deployment of latestDeployments; track deployment) {
                <li>
                    <div
                        class="items-center justify-between rounded-lg border border-mauve bg-surface0 p-4 shadow-sm sm:flex"
                    >
                        <time class="mb-1 text-xs font-normal text-text sm:order-last sm:mb-0">{{
                            deployment.date
                        }}</time>
                        <div class="lex text-sm font-normal text-text"
                            >Deployed <a class="text-maroon">{{ deployment.name }}</a> to
                            <span class="font-semibold text-red dark:text-white">{{ deployment.repo }}</span></div
                        >
                    </div>
                </li>
            }
        </li>
    </ol>
</div>
