<div class="chaotic-container-regular">
  <chaotic-title
    title="Memorial"
    subtitle="These screenshots have been collected by the community as celebration of the 3rd birthday of Chaotic-AUR."
  />
</div>
<div class="chaotic-container-wide-center">
  <div class="5xl:grid-cols-6 mt-10 grid grid-cols-2 gap-10 md:grid-cols-4">
    @for (link of termLinks; track link) {
      @defer (on viewport) {
        <p-card class="h-max">
          <div class="relative aspect-[16/10] w-full">
            <p-image
              class="absolute inset-0"
              [imageClass]="'h-full w-full rounded-lg object-contain'"
              [preview]="true"
              [previewImageSrc]="link.preview"
              [src]="link.full"
              alt="Terminal screenshot"
            />
          </div>
        </p-card>
      } @placeholder {
        <p-card class="h-max">
          <div class="flex aspect-[16/10] w-full items-center justify-center">
            <p-progress-spinner [style]="{ width: '4rem', height: '4rem' }" ariaLabel="loading" strokeWidth="4" />
          </div>
        </p-card>
      }
    }
  </div>
  <div class="5xl:grid-cols-4 mt-5 grid grid-cols-1 content-center gap-10 md:grid-cols-2">
    @for (link of desktopLinks; track link) {
      @defer (on viewport) {
        <a href="{{ link.full }}">
          <p-card class="h-max">
            <div class="relative aspect-video w-full">
              <p-image
                class="absolute inset-0"
                [imageClass]="'h-full w-full rounded-lg object-contain'"
                [preview]="true"
                [previewImageSrc]="link.preview"
                [src]="link.full"
                alt="Desktop screenshot"
              />
            </div>
          </p-card>
        </a>
      } @placeholder {
        <p-card class="h-max">
          <div class="flex aspect-video w-full items-center justify-center">
            <p-progress-spinner [style]="{ width: '5rem', height: '5rem' }" ariaLabel="loading" strokeWidth="4" />
          </div>
        </p-card>
      }
    }
  </div>
</div>
