<div class="mocha bg-base">
    <div>
        <h2 class="text-4xl text-violet-500 font-extrabold text-center">Stats</h2>
        <p class="my-4 text-lg text-orange-300 text-center">This page general package stats collected by our router</p>
        <p class="my-4 text-lg text-orange-300 text-center">Total users over the last months: {{ total30dUsers }}</p>
        <p class="my-4 text-xs text-orange-200 text-center">(Yes, stats can still take quite long to load as of now)</p>
        <div class="container items-center mx-auto text-center pt-5 pb-10">
            <div class="inline-flex rounded-md shadow-sm" role="group">
                <button
                    (click)="changeDisplay($event)"
                    id="button-search"
                    type="button"
                    class="px-4 py-2 text-sm font-medium text-gray-900 bg-violet-400 border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
                >
                    Package search
                </button>
                <button
                    (click)="changeDisplay($event)"
                    id="button-pkgstats"
                    type="button"
                    class="px-4 py-2 text-sm font-medium text-gray-900 bg-violet-400 border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
                >
                    Global package stats
                </button>
                <button
                    (click)="changeDisplay($event)"
                    id="button-miscstats"
                    type="button"
                    class="px-4 py-2 text-sm font-medium text-gray-900 bg-violet-400 border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
                >
                    Misc stats
                </button>
            </div>
        </div>

        @if (currentView === "search") {
        <app-package-search></app-package-search>
        } @if (currentView === "pkgstats") {
        <app-package-stats></app-package-stats>
        } @if (currentView === "miscstats") {
        <app-misc-stats></app-misc-stats>
        }
    </div>
</div>
