<div class="chaotic-container-regular">
  <chaotic-title title="Memorial - 2024 edition" [subtitleHtml]="subtitle"></chaotic-title>
</div>
<div class="chaotic-container-wide-center">
  <div class="mt-10 grid grid-cols-2 gap-10">
    @for (link of termLinks; track link) {
      @defer (on viewport) {
        <p-card class="h-max">
          <p-image
            alt="Terminal screenshot"
            class="h-auto max-w-full rounded-lg"
            [preview]="true"
            [appendTo]="'body'"
            [previewImageSrc]="link.preview"
            [src]="link.full"
          />
        </p-card>
      } @placeholder {
        <p-card class="h-max">
          <p-skeleton width="100%" height="100%" class="rounded-lg" />
        </p-card>
      }
    }
  </div>
  <div class="mt-5 grid grid-cols-1 content-center gap-10 pb-10">
    @for (link of desktopLinks; track link) {
      @defer (on viewport) {
        <p-card>
          <p-image
            alt="Desktop screenshot"
            class="h-auto max-w-full rounded-lg"
            [preview]="true"
            [previewImageSrc]="link.preview"
            [src]="link.full"
          />
        </p-card>
      } @placeholder {
        <p-card>
          <p-skeleton width="100%" height="100%" class="rounded-lg" />
        </p-card>
      }
    }
  </div>
</div>
