<div class="text-center mr-auto ml-auto px-10">
    <h2 class="text-4xl text-maroon font-extrabold">Memorial</h2>
    <p class="my-4 text-lg text-text text-center">
        These screenshots have been collected by the community as celebration of the 3rd birthday of Chaotic-AUR.
    </p>
</div>
<div class="p-10 grid grid-cols-2 md:grid-cols-4 5xl:grid-cols-6 gap-10">
    @for (link of termLinks; track link) {
        <div class="chaotic-grow-s">
            <img
                class="h-auto max-w-full rounded-lg"
                ngSrc="{{ link }}"
                width="800"
                height="600"
                alt="Terminal screenshot"
            />
        </div>
    }
</div>
<div class="p-10 grid grid-cols-1 md:grid-cols-2 5xl:grid-cols-4 gap-10 content-center">
    @for (link of desktopLinks; track link) {
        <div class="chaotic-grow-s">
            <img
                class="h-auto max-w-full rounded-lg"
                ngSrc="{{ link }}"
                width="1980"
                height="1280"
                alt="Terminal screenshot"
            />
        </div>
    }
</div>
