<div class="text-center mr-auto ml-auto">
    <h2 class="text-4xl text-violet-500 font-extrabold">Memorial</h2>
    <p class="my-4 text-lg text-orange-300 text-center">
        These screenshots have been collected by the community as celebration of the 3rd birthday of Chaotic-AUR.
    </p>
</div>
<div class="pt-10 grid grid-cols-2 md:grid-cols-4 gap-10">
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/AvinashReddy3108.png?raw=true"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/ahmubashshir.png?raw=true"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/arch04.png?raw=true"
                alt=""
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/b.jpg?raw=true"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/dr460nf1r3.png?raw=true"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/dr460nf1r3_vps.png?raw=true"
                alt=""
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/fcinq.png?raw=true"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/freebird.png?raw=true"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/garuda_builder.png?raw=true"
                alt=""
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/hisham.png?raw=true"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/jorge.png?raw=true"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="https://github.com/chaotic-aur/memorial/blob/main/terms/kenny.jpg?raw=true"
                alt=""
            />
        </div>
    </div>
</div>
