<div class="text-center mr-auto ml-auto">
    <h2 class="text-4xl text-violet-500 font-extrabold">Memorial</h2>
    <p class="my-4 text-lg text-orange-300 text-center">
        These screenshots have been collected by the community as celebration of the 3rd birthday of Chaotic-AUR.
    </p>
</div>
<div class="p-10 grid grid-cols-2 md:grid-cols-4 gap-10">
    @for (link of termLinks; track link) {
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                ngSrc="{{ link }}"
                width="500"
                height="200"
                alt="Terminal screenshot"
            />
        </div>
    }
</div>
<div class="p-10 grid grid-cols-1 md:grid-cols-2 gap-10">
    @for (link of desktopLinks; track link) {
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                ngSrc="{{ link }}"
                width="500"
                height="200"
                alt="Terminal screenshot"
            />
        </div>
    }
</div>
