<div class="mocha h-max" id="app-ctp">
    <nav class="bg-base pb-10">
        <div class="mx-auto flex flex-wrap items-center justify-between p-4 text-xl xl:max-w-screen-xl">
            <a class="flex items-center space-x-3 rtl:space-x-reverse" href="https://aur.chaotic.cx">
                <span class="self-center whitespace-nowrap text-2xl font-semibold text-mauve">Chaotic-AUR</span>
            </a>
            <button
                aria-controls="navbar-default"
                aria-expanded="false"
                class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-mauve focus:outline-none focus:ring-2 focus:ring-teal md:hidden"
                data-collapse-toggle="navbar-default"
                type="button"
            >
                <svg
                    aria-hidden="true"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 17 14"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M1 1h15M1 7h15M1 13h15"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                    />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="mt-4 flex flex-col rounded-lg bg-base p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:p-0 rtl:space-x-reverse"
                >
                    <li>
                        <a
                            aria-current="page"
                            ariaCurrentWhenActive="page"
                            class="md block rounded px-3 py-2 text-mauve hover:bg-red hover:text-crust md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-maroon"
                            routerLink=""
                            routerLinkActive="active"
                        >
                            Home
                        </a>
                    </li>
                    <li>
                        <a
                            ariaCurrentWhenActive="page"
                            class="block rounded px-3 py-2 text-mauve hover:bg-red hover:text-crust md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-maroon"
                            routerLink="docs"
                            routerLinkActive="active"
                        >
                            Docs
                        </a>
                    </li>
                    <li>
                        <a
                            ariaCurrentWhenActive="page"
                            class="block rounded px-3 py-2 text-mauve hover:bg-red hover:text-crust md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-maroon"
                            routerLink="status"
                            routerLinkActive="active"
                        >
                            Build Status
                        </a>
                    </li>
                    <li>
                        <a
                            ariaCurrentWhenActive="page"
                            class="block rounded px-3 py-2 text-mauve hover:bg-red hover:text-crust md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-maroon"
                            routerLink="package-list"
                            routerLinkActive="active"
                        >
                            Package List
                        </a>
                    </li>
                    <li>
                        <a
                            ariaCurrentWhenActive="page"
                            class="block rounded px-3 py-2 text-mauve hover:bg-red hover:text-crust md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-maroon"
                            routerLink="stats"
                            routerLinkActive="active"
                        >
                            Package Stats
                        </a>
                    </li>
                    <li>
                        <a
                            ariaCurrentWhenActive="page"
                            class="block rounded px-3 py-2 text-mauve hover:bg-red hover:text-crust md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-maroon"
                            routerLink="memorial"
                            routerLinkActive="active"
                        >
                            Memorial
                        </a>
                    </li>
                    <li>
                        <a
                            ariaCurrentWhenActive="page"
                            class="block rounded px-3 py-2 text-mauve hover:bg-red hover:text-crust md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-maroon"
                            routerLink="about"
                            routerLinkActive="active"
                        >
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet />
</div>
