<div class="background min-h-svh">
  <garuda-shell class="p-2" [menuItems]="items">
    <img garudaShellBarStart ngSrc="/assets/logo_28.png" width="28" height="28" alt="logo" />
    <div class="router-container" [@routerTransition]="prepareRoute(routerOutlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>
    <div garudaShellBarEnd>
      <div style="width: 15px; height: 15px; display: inline-block">
        <p-progress-spinner
          [hidden]="!loadingService.isLoading()"
          [style]="{ width: '15px', height: '15px' }"
          ariaLabel="loading"
          strokeWidth="5"
        />
      </div>
      <span class="pi pi-list cursor-pointer text-ctp-maroon my-auto ml-3" routerLink="update-review"> </span>
    </div>
  </garuda-shell>
</div>
<chaotic-footer></chaotic-footer>

<p-confirm-dialog />
