# compiled output
dist
tmp
/backend/dist/db
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# misc
.angular
.direnv
.github
.nx
.vscode
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
core
db
npm-debug.log
repos
testem.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
