# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
jest.config.js
tmp
/frontend/src/**/*.js
/frontend-v2/src/**/*.js
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.angular
.direnv
.github
.nx
.vscode
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
core
db
npm-debug.log
repos
testem.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# Nx
.nx/cache
.nx/workspace-data

# Local env files
.env
.pre-commit-config.yaml
.wrangler
repos/
tdlib/
