<div class="chaotic-container-regular">
    <div class="chaotic-container-regular">
        <h1 class="text-center text-4xl font-extrabold text-maroon">Deployment log</h1>
        <p class="my-4 px-10 text-center text-lg text-text">Shows the last deployed packages.</p>
        <input
            (keyup.enter)="getNewAmount()"
            [(ngModel)]="logAmount"
            class="text-input mx-auto block w-full rounded-lg border border-red bg-surface0 p-4 ps-10 text-sm text-maroon focus:border-red focus:bg-surface1 md:w-1/3"
            id="input-log-amount"
            name="logamount"
            placeholder="Amount of logs to show..."
            required
            type="search"
        />
        <button
            (click)="getNewAmount()"
            class="hover:chaotic-grow-l ml-2.5 mt-5 rounded-lg bg-maroon px-5 py-2.5 text-base text-sm font-medium hover:bg-mauve focus:outline-none"
            type="button"
        >
            Show logs
        </button>
        @if (requestedTooMany) {
            <p class="pt-5 text-center text-red"
            >You requested more logs than we currently have. Showing the max amount of
                {{ latestDeployments.length }}.</p
            >
        }
        <ol class="relative pt-5">
            <li class="mb-10">
                @for (deployment of latestDeployments; track deployment) {
                    <li>
                        <div
                            class="items-center justify-between rounded-lg border border-mauve bg-surface0 p-4 shadow-sm sm:flex"
                        >
                            <time class="mb-1 text-xs font-normal text-text sm:order-last sm:mb-0">{{
                                    deployment.date
                                }}
                            </time>
                            <div class="lex text-sm font-normal text-text"
                            >{{ deployment.string }} <a class="text-maroon">{{ deployment.name }}</a> to
                                <span class="font-semibold text-red">{{ deployment.repo }}</span></div
                            >
                        </div>
                    </li>
                }
            </li>
        </ol>
    </div>
</div>
