<div class="chaotic-container-regular">
    <div class="chaotic-container-regular">
        <h1 class="text-center text-4xl font-extrabold text-maroon">Deployment log</h1>
        <p class="my-4 px-10 text-center text-lg text-text"
        >Shows the last deployed packages and allows searching the entire history.
            Click the repo name for viewing the source repository.</p
        >
        <p class="my-4 px-10 text-center text-lg text-red"
        >Disclaimer: the data shown here corresponds to our in-progress
            <a class="text-mauve" href="https://gitlab.com/chaotic-aur/pkgbuilds">infra 4.0</a>, NOT the live
            Chaotic-AUR repo.</p
        >

        <div class="py-2.5 mt-2.5">
            <ul
                class="items-center mx-auto max-w-2xl text-sm font-medium text-text border border-mauve bg-surface0 rounded-lg sm:flex"
            >
                <li class="w-full border-b border-mauve sm:border-b-0 sm:border-r">
                    <div class="flex items-center ps-3">
                        <input
                            (change)="changeDeploymentType($event)"
                            checked
                            class="w-4 h-4 border-mauve focus:ring-mauve text-text"
                            id="horizontal-list-radio-all"
                            name="list-radio"
                            type="radio"
                            value="0"
                        />
                        <label class="w-full py-3 ms-2 text-sm font-medium text-text" for="horizontal-list-radio-all"
                        >All 🌍</label
                        >
                    </div>
                </li>
                <li class="w-full border-b border-mauve sm:border-b-0 sm:border-r">
                    <div class="flex items-center ps-3">
                        <input
                            (change)="changeDeploymentType($event)"
                            class="w-4 h-4 border-mauve focus:ring-mauve text-text"
                            id="horizontal-list-radio-success"
                            name="list-radio"
                            type="radio"
                            value="1"
                        />
                        <label
                            class="w-full py-3 ms-2 text-sm font-medium text-text"
                            for="horizontal-list-radio-success"
                        >Success 📣</label
                        >
                    </div>
                </li>
                <li class="w-full border-b border-mauve sm:border-b-0 sm:border-r">
                    <div class="flex items-center ps-3">
                        <input
                            (change)="changeDeploymentType($event)"
                            class="w-4 h-4 border-mauve focus:ring-mauve text-text"
                            id="horizontal-list-radio-failed"
                            name="list-radio"
                            type="radio"
                            value="2"
                        />
                        <label class="w-full py-3 ms-2 text-sm font-medium text-text" for="horizontal-list-radio-failed"
                        >Failed 🚫</label
                        >
                    </div>
                </li>
                <li class="w-full">
                    <div class="flex items-center ps-3">
                        <input
                            (change)="changeDeploymentType($event)"
                            class="w-4 h-4 border-mauve focus:ring-mauve text-text"
                            id="horizontal-list-radio-timeout"
                            name="list-radio"
                            type="radio"
                            value="3"
                        />
                        <label
                            class="w-full py-3 ms-2 text-sm font-medium text-text"
                            for="horizontal-list-radio-timeout"
                        >Timed out ⏳</label
                        >
                    </div>
                </li>
            </ul>
        </div>

        <div class="container md:flex my-5 justify-center">
            <input
                (focusout)="getNewAmount()"
                (keyup.enter)="getNewAmount()"
                [(ngModel)]="logAmount"
                class="text-input mx-auto my-1 md:mx-1 block w-full rounded-lg border border-red bg-surface0 py-4 ps-10 text-sm text-maroon focus:border-red focus:bg-surface1 max-w-md"
                id="input-log-amount"
                name="logamount"
                placeholder="Number of logs to show (default 100)"
                required
                type="search"
            />
            <input
                (focusout)="showDeployments()"
                (keyup.enter)="showDeployments()"
                [(ngModel)]="searchterm"
                class="text-input mx-auto md:mx-1 my-1 block w-full rounded-lg border border-red bg-surface0 py-4 ps-10 text-sm text-maroon focus:border-red focus:bg-surface1 max-w-md"
                id="input-search"
                name="searchterm"
                placeholder="Search for a package name"
                required
                type="search"
            />
        </div>

        @if (requestedTooMany) {
            <p class="pt-5 text-center text-red"
            >You requested more logs than we currently have. Showing the max amount of
                {{ latestDeployments.length }}.</p
            >
        }

        <ol class="relative pt-2.5">
            <li class="mb-10">
                @for (deployment of shownDeployments; track deployment) {
                    <li>
                        <div
                            class="items-center justify-between rounded-lg border border-mauve bg-surface0 p-4 shadow-sm sm:flex"
                        >
                            <time class="mb-1 text-xs font-normal text-text sm:order-last sm:mb-0"
                            >{{ deployment.date }}
                            </time>
                            <div class="lex text-sm font-normal text-text"
                            >{{ deployment.string }} <a class="text-maroon">{{ deployment.name }}</a>
                                from <a class="text-rosewater">{{ deployment.node }}</a> to
                                <a class="font-semibold text-red"
                                   href="{{ deployment.sourceUrl }}">{{ deployment.repo }}</a>
                                @if (deployment.log) {
                                    - <a class="text-yellow" href="{{ deployment.log }}">log ↗</a>
                                }
                            </div>
                        </div>
                    </li>
                }
            </li>
        </ol>
    </div>
</div>
