<chaotic-title
  title="Packages"
  subtitle="This is the list of currently deployed in the repositories we supply. Make sure to check the repository the package is in."
/>

<div class="table-container" animate.enter="ctp-fade-enter">
  <p-table
    id="pkgTable"
    #pkgTable
    [value]="packageListService.packageList()"
    [rows]="25"
    [rowsPerPageOptions]="[25, 50, 100, 200]"
    [loading]="packageListService.loading()"
    [showCurrentPageReport]="true"
    [paginator]="true"
    [lazy]="true"
    [totalRecords]="packageListService.total()"
    [sortOrder]="1"
    (onLazyLoad)="onLazyLoad($event)"
    dataKey="id"
    sortField="pkgname"
    stateStorage="local"
    stateKey="package-list-table"
    paginatorDropdownAppendTo="body"
  >
    <ng-template #caption>
      <div class="flex flex-col gap-2.5 sm:flex-row sm:flex-nowrap sm:items-center">
        <div class="flex flex-wrap items-center gap-2.5 sm:mr-auto">
          <p-button
            class="hidden sm:inline-flex"
            [outlined]="true"
            (click)="clear(pkgTable)"
            size="small"
            label="Clear"
            icon="pi pi-filter-slash"
            pTooltip="Clear all filters and search"
            tooltipPosition="bottom"
          />
          <chaotic-column-toggle [columns]="packageColumns" tableKey="package-list-table" />
        </div>
        <p-select
          class="w-full sm:w-40"
          [options]="packageListService.repos() ?? []"
          [ngModel]="packageListService.repoFilter()"
          (ngModelChange)="onRepoFilter($event)"
          optionLabel="name"
          optionValue="id"
          placeholder="All repos"
          showClear
          appendTo="body"
        />
        <p-iconfield class="w-full sm:w-64" iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            class="w-full"
            #searchInput
            [formField]="searchForm.query"
            pInputText
            type="text"
            placeholder="Search keyword"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        @if (columnVisibility.isVisible('package-list-table', 'name')) {
          <th pSortableColumn="pkgname" style="min-width: 15rem">
            <div class="flex items-center">
              Name&nbsp;
              <p-sortIcon field="pkgname" />
            </div>
          </th>
        }
        @if (columnVisibility.isVisible('package-list-table', 'version')) {
          <th style="min-width: 10rem">
            <div class="flex items-center">Version</div>
          </th>
        }
        @if (columnVisibility.isVisible('package-list-table', 'lastUpdated')) {
          <th pSortableColumn="lastUpdated" style="min-width: 10rem">
            <div class="flex items-center">
              Last updated&nbsp;
              <p-sortIcon field="lastUpdated" />
            </div>
          </th>
        }
        @if (columnVisibility.isVisible('package-list-table', 'buildClass')) {
          <th pSortableColumn="buildClass" style="min-width: 8rem">
            <div class="flex items-center">
              Build class&nbsp;
              <p-sortIcon field="buildClass" />
            </div>
          </th>
        }
        @if (columnVisibility.isVisible('package-list-table', 'pkgbaseName')) {
          <th pSortableColumn="pkgbaseName" style="min-width: 10rem">
            <div class="flex items-center">
              Pkgbase&nbsp;
              <p-sortIcon field="pkgbaseName" />
            </div>
          </th>
        }
        @if (columnVisibility.isVisible('package-list-table', 'description')) {
          <th style="min-width: 10rem">
            <div class="flex items-center">Description</div>
          </th>
        }
        @if (columnVisibility.isVisible('package-list-table', 'homepage')) {
          <th style="min-width: 15rem; max-width: 20rem">
            <div class="flex items-center">Homepage</div>
          </th>
        }
        @if (columnVisibility.isVisible('package-list-table', 'repo')) {
          <th pSortableColumn="repo" style="min-width: 5rem">
            <div class="flex items-center">
              Repository
              <p-sortIcon field="repo" />
            </div>
          </th>
        }
        @if (columnVisibility.isVisible('package-list-table', 'actions')) {
          <th class="cell-actions" style="min-width: 5rem">
            <div class="flex items-center justify-end">PKGBUILD</div>
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-unTypedPkg>
      @if (typed(unTypedPkg); as pkg) {
        <tr [class.text-ctp-subtext0]="!pkg.isActive">
          @if (columnVisibility.isVisible('package-list-table', 'name')) {
            <td>
              <span class="ml-1 align-middle">{{ pkg.pkgname }}</span>
            </td>
          }
          @if (columnVisibility.isVisible('package-list-table', 'version')) {
            <td>
              <span class="ml-1 align-middle">{{
                `${pkg.version}${pkg.pkgrel ? `-${formatPkgrel(pkg.pkgrel, pkg.bump ?? 0)}` : ''}`
              }}</span>
            </td>
          }
          @if (columnVisibility.isVisible('package-list-table', 'lastUpdated')) {
            <td>
              <span
                class="ml-1 align-middle"
                [pTooltip]="(pkg.lastUpdated | date: 'short') ?? undefined"
                tooltipPosition="top"
                >{{ pkg.lastUpdated | relativeTime }}</span
              >
            </td>
          }
          @if (columnVisibility.isVisible('package-list-table', 'buildClass')) {
            <td>
              @if (pkg.buildClass !== null && pkg.buildClass !== undefined) {
                <span
                  class="ml-1 align-middle"
                  pTooltip="How resource-hungry the package build is"
                  tooltipPosition="top"
                >
                  {{ pkg.buildClass | buildClass }}
                </span>
              } @else {
                <span class="ml-1 align-middle">-</span>
              }
            </td>
          }
          @if (columnVisibility.isVisible('package-list-table', 'pkgbaseName')) {
            <td>
              @if (pkg.pkgbaseName !== null && pkg.pkgbaseName !== undefined) {
                <span class="ml-1 align-middle">{{ pkg.pkgbaseName }}</span>
              } @else {
                <span class="ml-1 align-middle">-</span>
              }
            </td>
          }
          @if (columnVisibility.isVisible('package-list-table', 'description')) {
            <td>
              <span class="ml-1 align-middle">{{ pkg.metadata?.desc }}</span>
            </td>
          }
          @if (columnVisibility.isVisible('package-list-table', 'homepage')) {
            <td>
              @if (pkg.metadata?.url; as url) {
                <a class="ml-1 align-middle text-ctp-mauve" [href]="url" target="_blank" rel="noopener noreferrer">{{
                  url | stripPrefix
                }}</a>
              } @else {
                <span class="ml-1 align-middle">n/a</span>
              }
            </td>
          }
          @if (columnVisibility.isVisible('package-list-table', 'repo')) {
            <td>
              <span class="ml-1 align-middle">{{ pkg.reponame }}</span>
            </td>
          }
          @if (columnVisibility.isVisible('package-list-table', 'actions')) {
            <td class="cell-actions">
              @if (pkg.isActive) {
                <div class="flex flex-nowrap items-center gap-1 sm:gap-2">
                  <p-button
                    class="h-8"
                    (click)="openDetail(pkg)"
                    size="small"
                    type="button"
                    label="Details"
                    outlined="true"
                    pTooltip="View package statistics"
                    tooltipPosition="left"
                  />
                  <p-button
                    class="h-8"
                    (click)="openPkgbuild(pkg)"
                    size="small"
                    type="button"
                    label="Source"
                    pTooltip="View the PKGBUILD source for this package"
                    tooltipPosition="left"
                  />
                </div>
              } @else {
                <span class="ml-1 align-middle">N/A</span>
              }
            </td>
          }
        </tr>
      }
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="9">No packages found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
