<div class="chaotic-container-regular bg-base">
    <div>
        <h1 class="text-center text-4xl font-extrabold text-maroon">Status</h1>
        <p class="my-4 text-center text-lg text-text">This page shows the status of the Chaotic-AUR infrastructure.</p>
        <p class="my-4 text-center text-lg text-text">Last updated: {{ lastUpdated }}</p>
    </div>

    @if (currentQueue.length > 0) {
        <div class="container ml-auto mr-auto pt-10">
            <h3 class="pb-10 pt-5 text-center text-3xl font-bold text-text">Current queue stats</h3>
            @for (queue of currentQueue; track queue) {
                <div class="mb-3 mt-3 grid grid-cols-1 gap-x-0 md:grid-cols-6">
                    <div class="place-self-auto rounded-l-2xl bg-surface0 p-4">
                        <h4 class="text-center text-2xl text-mauve">Status</h4>
                        <p class="mb-2 mt-2 text-center">{{ queue.status }}</p>
                    </div>
                    <div class="bg-surface0 p-4">
                        <h4 class="text-center text-2xl">Count</h4>
                        <p class="mb-2 mt-2 text-center text-red">{{ queue["count"] }}</p>
                    </div>
                    <div class="col-span-4 rounded-r-2xl bg-surface0 p-4">
                        <h4 class="text-center text-2xl text-mauve">Packages</h4>
                        <div class="mb-2 mt-2 grid grid-cols-1 gap-5 md:grid-cols-3">
                            @for (pkg of queue["packages"]; track pkg) {
                                <p class="text-s text-center text-red">{{ pkg }}</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @if (currentPackages.length > 0) {
        <div class="container ml-auto mr-auto pt-10">
            <h3 class="pb-10 pt-5 text-center text-3xl font-bold text-text">Current queued package information</h3>
            @for (pkg of currentPackages; track pkg) {
                <div class="mb-3 mt-3 grid grid-cols-1 gap-x-0 md:grid-cols-4">
                    <div class="place-self-auto rounded-l-2xl bg-surface0 p-4">
                        <h4 class="text-center text-2xl">Name</h4>
                        <p class="mb-2 mt-2 text-center">{{ pkg.name }}</p>
                    </div>
                    <div class="bg-surface0 p-4">
                        <h4 class="text-center text-2xl">Queued up at</h4>
                        <p class="mb-2 mt-2 text-center text-red-950">{{ pkg.time }}</p>
                    </div>
                    <div class="col-span-4 rounded-r-2xl bg-surface0 p-4">
                        <h4 class="text-center text-2xl">Target repo</h4>
                        <div class="mb-2 mt-2 grid grid-cols-1 gap-5 md:grid-cols-3">
                            <p class="text-s text-center text-red-950">{{ pkg.srcrepo }}</p>
                        </div>
                    </div>
                    <div class="col-span-4 rounded-r-2xl bg-surface0 p-4">
                        <h4 class="text-center text-2xl">Source files</h4>
                        <div class="mb-2 mt-2 grid grid-cols-1 gap-5 md:grid-cols-3">
                            <p class="text-s text-center text-red-950">{{ pkg.repo_files }}</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @if (currentQueue.length === 0) {
        <div class="container my-auto px-5">
            <h3 class="py-10 text-center text-xl font-bold text-mauve">There are currently no ongoing builds 😴</h3>
        </div>
    }

    <div class="container ml-auto mr-auto p-5">
        <h3 class="pb-5 text-center text-3xl font-bold text-maroon">Queue metrics</h3>
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
            <div class="rounded-2xl bg-surface0 pb-4 pt-4 md:rounded-l-2xl">
                <h4 class="text-center text-2xl text-green">Database - completed</h4>
                <p class="text-center text-green">{{ currentMetrics.database_queue.completed }}</p>
            </div>
            <div class="rounded-2xl bg-surface0 pb-4 pt-4 md:rounded-r-2xl">
                <h4 class="text-center text-2xl text-red">Database - failed</h4>
                <p class="text-center text-red">{{ currentMetrics.database_queue.failed }}</p>
            </div>
            <div class="rounded-2xl bg-surface0 pb-4 pt-4 md:rounded-l-2xl">
                <h4 class="text-center text-2xl text-green">Builder - completed</h4>
                <p class="text-center text-green">{{ currentMetrics.builder_queue.completed }}</p>
            </div>
            <div class="rounded-2xl bg-surface0 pb-4 pt-4 md:rounded-r-2xl">
                <h4 class="text-center text-2xl text-red">Builder - failed</h4>
                <p class="text-center text-red">{{ currentMetrics.builder_queue.failed }}</p>
            </div>
        </div>
    </div>

    <div class="container mx-auto mb-5 items-center">
        <button
            class="hover:chaotic-grow-l rounded-lg bg-mauve px-5 py-2.5 text-base text-sm font-medium focus:outline-none"
            (click)="updateAll()"
            type="button"
        >
            Refresh
        </button>
    </div>
</div>
