<div class="chaotic-container-regular">
  <chaotic-title
    title="Memorial"
    subtitle="These screenshots have been collected by the community as celebration of the 3rd birthday of Chaotic-AUR."
  >
  </chaotic-title>
</div>
<div class="chaotic-container-wide-center">
  <div class="5xl:grid-cols-6 mt-10 grid grid-cols-2 gap-10 md:grid-cols-4">
    @for (link of termLinks; track link) {
      <p-card class="h-max">
        <p-image
          alt="Terminal screenshot"
          class="h-auto max-w-full rounded-lg"
          [preview]="true"
          [previewImageSrc]="link.preview"
          [src]="link.full"
        />
      </p-card>
    }
  </div>
  <div class="5xl:grid-cols-4 mt-5 grid grid-cols-1 content-center gap-10 md:grid-cols-2">
    @for (link of desktopLinks; track link) {
      <a href="{{ link }}">
        <p-card class="h-max">
          <p-image
            alt="Terminal screenshot"
            class="h-auto max-w-full rounded-lg"
            [preview]="true"
            [previewImageSrc]="link.preview"
            [src]="link.full"
          />
        </p-card>
      </a>
    }
  </div>
</div>
