<div class="chaotic-container-regular">
  <chaotic-title title="Memorial - 2024 edition" [subtitleHtml]="subtitle"></chaotic-title>
</div>
<div class="chaotic-container-wide-center">
  <div class="mt-10 grid grid-cols-2 gap-10">
    @for (link of termLinks; track link) {
      <p-card class="h-max">
        <p-image
          alt="Terminal screenshot"
          class="hover:chaotic-grow-s animate-duration-1000 h-auto max-w-full rounded-lg"
          pAnimateOnScroll
          enterClass="animate-fadein"
          leaveClass="animate-fadeout"
          [once]="false"
          [preview]="true"
          [src]="link"
        />
      </p-card>
    }
  </div>
  <div class="mt-5 grid grid-cols-1 content-center gap-10 pb-10">
    @for (link of desktopLinks; track link) {
      <p-card>
        <p-image
          alt="Desktop screenshot"
          class="hover:chaotic-grow-s animate-duration-1000 h-auto max-w-full rounded-lg"
          pAnimateOnScroll
          enterClass="animate-fadein"
          leaveClass="animate-fadeout"
          [once]="false"
          [preview]="true"
          [src]="link"
        />
      </p-card>
    }
  </div>
</div>
