<div class="chaotic-container-regular bg-base">
  <div class="chaotic-container-regular">
    <div class="mb-5 text-center">
      <h2 class="text-maroon text-2xl font-extrabold">Memorial - 2024 edition</h2>
      <p class="text-text my-4 text-lg">
        Three years passed since the the
        <a class="text-maroon" routerLink="/memorial">
          third birthday of Chaotic-AUR and celebrating it with a memorial of screenshots</a
        >. This time, we are celebrating the sixth birthday of Chaotic-AUR with another round of community contributions
        and the release of our
        <a class="text-maroon" href="https://gitlab.com/chaotic-aur/pkgbuilds"> new build system infra 4.0 🎉</a>.
      </p>
    </div>
    <div class="mt-10 grid grid-cols-2 gap-10">
      @for (link of termLinks; track link) {
        <p-card class="h-max">
          <p-image
            alt="Terminal screenshot"
            class="hover:chaotic-grow-s animate-duration-1000 h-auto max-w-full rounded-lg"
            pAnimateOnScroll
            enterClass="animate-fadein"
            leaveClass="animate-fadeout"
            [once]="false"
            [preview]="true"
            [src]="link"
          />
        </p-card>
      }
    </div>
    <div class="mt-5 grid grid-cols-1 content-center gap-10">
      @for (link of desktopLinks; track link) {
        <p-card>
          <p-image
            alt="Desktop screenshot"
            class="hover:chaotic-grow-s animate-duration-1000 h-auto max-w-full rounded-lg"
            pAnimateOnScroll
            enterClass="animate-fadein"
            leaveClass="animate-fadeout"
            [once]="false"
            [preview]="true"
            [src]="link"
          />
        </p-card>
      }
    </div>
  </div>
</div>
