:host {
  display: flex;
  flex-direction: column;
}

.min-h-footer {
  display: flex;
  flex-direction: column;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
