<div class="min-w-0" *transloco="let t; prefix: 'newsfeed'">
  <div class="flex flex-col gap-4">
    @for (news of visibleNews(); track news.data.id; let index = $index) {
      <p-panel class="min-w-0" [style.--stagger]="index % staggerStep" animate.enter="finding-item-enter">
        <ng-template pTemplate="header">
          <div class="flex flex-col gap-0.5">
            <span class="font-semibold text-ctp-text">{{ news.data.author || t('defaultAuthor') }}</span>
            <span class="text-sm text-ctp-subtext0">{{ news.data.date | date: 'short' }}</span>
          </div>
        </ng-template>
        <div class="news-content max-w-full overflow-x-auto wrap-break-word" [innerHTML]="news.html"></div>
      </p-panel>
    }
  </div>
  @if (hasMore()) {
    <div class="mt-4">
      <p-button
        [label]="t('showMore')"
        (onClick)="showMore()"
        icon="pi pi-angle-down"
        iconPos="right"
        size="small"
        text
      />
    </div>
  }
</div>
