<div class="mx-auto max-w-4xl">
  <chaotic-title title="Privacy Policy" subtitle="We are committed to protecting your privacy." />

  <div class="mt-5">
    <p-panel id="intro">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('intro')">Introduction</button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>
          At
          <a class="text-ctp-mauve" href="https://aur.chaotic.cx" rel="noopener" target="_blank">aur.chaotic.cx</a>,
          accessible from aur.chaotic.cx and all of its subdomains, one of our main priorities is the privacy of our
          visitors. This Privacy Policy document contains types of information that is collected and recorded by
          chaotic.cx and how we use it.
        </p>
        <p-divider />
        <p>
          If you have additional questions or require more information about our Privacy Policy, do not hesitate to
          contact us.
        </p>
        <p-divider />
        <p>
          This Privacy Policy applies only to our online activities and is valid for visitors to our website with
          regards to the information that they shared and/or collect in aur.chaotic.cx and all of its subdomains. This
          policy is only applicable to any information collected via our web services.
        </p>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="consent">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('consent')">Consent</button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="collected-info">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('collected-info')">Information we collect</button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>
          The personal information that you are asked to provide, and the reasons why you are asked to provide it, will
          be made clear to you at the point we ask you to provide your personal information.
        </p>
        <p-divider />
        <p>
          If you contact us directly, we may receive additional information about you such as your name, email address,
          the contents of the message and/or attachments you may send us, and any other information you may choose to
          provide.
        </p>
        <p-divider />
        <p>
          When you register for an Account, we may ask for your email address and username as well as other
          cause-related information.
        </p>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="use-for">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('use-for')">How we use your information</button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>We use the information we collect only to:</p>
        <ul class="mt-2 list-inside list-disc space-y-1">
          <li>Provide, operate, and maintain our infrastructure</li>
          <li>Adapt to changing requirements</li>
          <li>Send you emails if you signed up for them using one of our web services</li>
          <li>Find and prevent misuse of the infrastructure</li>
        </ul>
        <p-divider />
        <p>
          We have no interest in your data and only store the bare minimum needed to operate the services we provide to
          our visitors.
        </p>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="log-files">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('log-files')">Log Files</button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>
          chaotic.cx follows a standard procedure of using log files. These files log visitors when they visit websites.
          All hosting companies do this and a part of hosting services' analytics. The information collected by log
          files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time
          stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that
          is personally identifiable. The purpose of the information is for analyzing usage, administering the sites,
          and gathering diagnostic information.
        </p>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="cookies">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('cookies')">Cookies and Web Beacons</button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>
          Like any other website, chaotic.cx uses "cookies". These cookies are used to store information including
          visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is
          used to keep users logged into web services and provide the websites functionality.
        </p>
        <p-divider />
        <p>
          You can choose to disable cookies through your individual browser options. To know more detailed information
          about cookie management with specific web browsers, it can be found at the browsers' respective websites.
        </p>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="third-party">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('third-party')">Third Party Privacy Policies</button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>
          chaotic.cx's Privacy Policy does not apply to some of the services we utilize in our infrastructure. Thus, we
          are advising you to consult the respective Privacy Policies of these third-party services for more detailed
          information.
        </p>
        <p-divider />
        <p>Third party services used:</p>
        <ul class="mt-2 list-inside list-disc space-y-1">
          <li>Cloudflare as CDN and for protection against various things</li>
          <li>Hetzner as server and backup storage provider</li>
          <li>Heroku as provider which runs our router application</li>
          <li>Netcup as provider for our mail server</li>
        </ul>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="data-protection-rights">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('data-protection-rights')">
          GDPR Data Protection Rights
        </button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>
          We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled
          to the following:
        </p>
        <ul class="mt-2 list-inside list-disc space-y-1">
          <li><strong>The right to access</strong> – You have the right to request copies of your personal data.</li>
          <li>
            <strong>The right to rectification</strong> – You have the right to request that we correct any information
            you believe is inaccurate. You also have the right to request that we complete the information you believe
            is incomplete.
          </li>
          <li>
            <strong>The right to erasure</strong> – You have the right to request that we erase your personal data,
            under certain conditions.
          </li>
          <li>
            <strong>The right to restrict processing</strong> – You have the right to request that we restrict the
            processing of your personal data, under certain conditions.
          </li>
          <li>
            <strong>The right to object to processing</strong> – You have the right to object to our processing of your
            personal data, under certain conditions.
          </li>
          <li>
            <strong>The right to data portability</strong> – You have the right to request that we transfer the data
            that we have collected to another organization, or directly to you, under certain conditions.
          </li>
        </ul>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="children-info">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('children-info')">Children's Information</button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>
          Another part of our priority is adding protection for children while using the internet. We encourage parents
          and guardians to observe, participate in, and/or monitor and guide their online activity.
        </p>
        <p-divider />
        <p>
          chaotic.cx does not knowingly collect any Personal Identifiable Information from children under the age of 13.
          If you think that your child provided this kind of information on our website, we strongly encourage you to
          contact us immediately and we will do our best efforts to promptly remove such information from our records.
        </p>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="policy-changes">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('policy-changes')">
          Changes to This Privacy Policy
        </button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>
          We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for
          any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes
          are effective immediately, after they are posted on this page.
        </p>
      </div>
    </p-panel>
  </div>

  <div class="mt-5">
    <p-panel id="contact-us">
      <ng-template pTemplate="header">
        <button class="cursor-pointer font-bold" (click)="scrollTo('contact-us')">Contact Us</button>
      </ng-template>
      <div class="chaotic-panel text-md">
        <p>
          If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at
          <a class="text-ctp-mauve" href="mailto:root@chaotic.cx">root@chaotic.cx</a>.
        </p>
      </div>
    </p-panel>
  </div>
</div>
