.layout-topbar.layout-topbar-sticky {
  border-bottom: 1px solid var(--border-color);
  background-color: var(rgba(0, 0, 3));
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.layout-topbar-inner {
  height: 4rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
