.om-map {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  border-radius: 0.5rem;
}

.om-map-svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.om-map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}
