<div>
  @if (isWide()) {
    <div class="flex justify-center">
      <p-chart type="bar" [data]="chartData" [options]="options" class="h-200 w-full" />
    </div>
    <p-input-number
      [(ngModel)]="packageStatsService.globalPackageMetricRange"
      mode="decimal"
      [showButtons]="true"
      inputId="minmaxDownloads"
      [min]="0"
      [max]="200"
    >
    </p-input-number>
  } @else {
    <div class="h-auto justify-center">
      @for (download of packageStatsService.globalPackageProgressbarValues(); track download.label) {
        <p-progress-bar [value]="download.value">
          <ng-template #content>
            <span>{{ download.label }}: {{ download.count }}</span>
          </ng-template>
        </p-progress-bar>
      }
    </div>
    <p-input-number
      [(ngModel)]="packageStatsService.globalPackageMetricRange"
      mode="decimal"
      [showButtons]="true"
      inputId="minmaxDownloads"
      [min]="0"
      [max]="200"
    >
    </p-input-number>
  }
</div>
