@for (pipeline of pipelines; track pipeline.pipeline.id) {
  <p-fieldset
    [toggleable]="true"
    [legend]="pipeline.pipeline.source + ': ' + pipeline.pipeline.status"
    [collapsed]="true"
  >
    <ng-template #header>
      <div class="flex items-center gap-2 px-2">
        <i></i>
      </div>
    </ng-template>
    <p class="m-0">
      <a href="{{ pipeline.pipeline.web_url }}" class="text-sky">{{ pipeline.pipeline.created_at }}</a>
    </p>
    <p-table [value]="pipeline.jobs" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th>Package</th>
          <th>Started</th>
          <th>Finished</th>
          <th>Duration</th>
          <th>Status</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-job>
        <tr>
          <td>{{ job.name }}</td>
          <td>{{ job.started_at }}</td>
          <td>{{ job.finished_at }}</td>
          <td>{{ job.duration }}</td>
          <td>{{ job.status }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
}
