<div class="card mb-10 flex justify-center">
  @if (loading()) {
    <div class="flex h-60 w-200 max-w-2xl items-center justify-center">
      <i class="pi pi-spin pi-spinner text-ctp-flamingo" style="font-size: 3rem"></i>
    </div>
  } @else {
    <p-chart
      class="w-200 max-w-2xl"
      [data]="chartConfig().data"
      [options]="chartConfig().options"
      [responsive]="true"
      type="pie"
    />
  }
</div>
<p-input-number
  [(ngModel)]="statsService.countryRanksRange"
  [showButtons]="true"
  [min]="0"
  [max]="30"
  mode="decimal"
  inputId="minmaxCountry"
  placeholder="Amount of countries to show"
>
</p-input-number>
