<section class="chaotic-card">
  <chaotic-build-status-section title="Pipelines" icon="pi-sitemap" />
  @if (buildStatusService.loadingPipelines() && paginatedPipelines().length === 0) {
    <ul aria-hidden="true">
      @for (_ of skeletonRows; track $index) {
        <li class="chaotic-row"><span class="chaotic-skeleton h-5 flex-1"></span></li>
      }
    </ul>
  } @else if (buildStatusService.pipelinesFailed() && paginatedPipelines().length === 0) {
    <chaotic-load-error (retry)="buildStatusService.getPipelines()" message="Could not load pipelines." />
  } @else if (paginatedPipelines().length === 0) {
    <p class="chaotic-card__empty">No recent pipelines</p>
  } @else {
    <chaotic-pipeline-list [pipelines]="paginatedPipelines()" (openPipeline)="openPipeline.emit($event)" />
    @if (pageCount() > 1) {
      <footer class="chaotic-card__footer justify-end!">
        <chaotic-build-status-pager
          [page]="currentPage()"
          [pageCount]="pageCount()"
          (pageChange)="selectPage($event)"
        />
      </footer>
    }
  }
</section>
