<chaotic-title
  title="Build status"
  subtitleHtml="Currently running pipelines and build queue.<br>Last updated: {{
    buildStatusService.lastUpdated() | date: 'short'
  }}"
></chaotic-title>

<div class="chaotic-container-wide-center md:chaotic-container-regular">
  @if (isWide()) {
    <div class="flex">
      <p-card header="Pipelines" class="md:w-1/4">
        <div class="mt-5">
          @if (!buildStatusService.loadingPipelines()) {
            <p-timeline [value]="buildStatusService.pipelineWithStatus()">
              <ng-template #opposite let-unTypedPipeline>
                <ng-container *ngIf="typed(unTypedPipeline) as pipeline">
                  <small class="text-primary">{{ pipeline.pipeline.created_at | date: 'short' }}</small>
                </ng-container>
              </ng-template>
              <ng-template #content let-unTypedPipeline>
                <ng-container *ngIf="typed(unTypedPipeline) as pipeline">
                  <div pRipple (click)="showDialog(pipeline.pipeline.id)" class="cursor-pointer">
                    <i
                      class="pi"
                      [ngClass]="{
                        'pi-check-circle text-ctp-green': pipeline.pipeline.status === 'success',
                        'pi-exclamation-circle text-ctp-red': pipeline.pipeline.status.includes('failed'),
                        'pi-spin pi-spinner text-ctp-peach': pipeline.pipeline.status === 'running',
                      }"
                    ></i>
                    <span class="ml-1">
                      <a>{{ pipeline.pipeline.status }}</a>
                    </span>
                  </div>
                </ng-container>
              </ng-template>
            </p-timeline>
          } @else {
            <div *ngFor="let item of createRange(22)" class="my-3">
              <p-skeleton width="100%" height="4rem"></p-skeleton>
            </div>
          }
        </div>
      </p-card>
      <div class="mx-auto">
        @if (buildStatusService.loadingQueue()) {
          <div class="md:w-1/4">
            <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
              <p-skeleton height="30rem" />
            </p-card>
          </div>
        }
        @if (buildStatusService.activeQueue.length > 0) {
          <div class="md:w-1/4">
            <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
              <ng-template #header>
                <i class="pi pi-spin pi-spinner text-ctp-flamingo mb-2 mt-8" style="font-size: 5rem"></i>
              </ng-template>
              <ng-template #title>Active builds</ng-template>
              <ng-template #subtitle>These are currently ongoing builds</ng-template>
              <p-table [value]="buildStatusService.activeQueue">
                <ng-template #header>
                  <tr>
                    <th>Name</th>
                    <th>Node</th>
                    <th>Build class</th>
                    <th>Live log</th>
                  </tr>
                </ng-template>
                <ng-template #body let-pkg>
                  <tr>
                    <td>{{ pkg.name }}</td>
                    <td>{{ pkg.node }}</td>
                    <td pTooltip="{{ pkg.build_class | buildClass }}" tooltipPosition="top">{{ pkg.build_class }}</td>
                    <td>
                      <i class="pi pi-external-link text-ctp-mauve align-middle" style="font-size: 0.6rem"> </i
                      ><a pRipple href="{{ pkg.liveLogUrl }}"> click</a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

              <ng-template #footer>
                <div class="mt-1 flex gap-4"></div>
              </ng-template>
            </p-card>
          </div>
        }
        @if (buildStatusService.waitingQueue.length > 0) {
          <div
            [ngClass]="{
              'mt-5': buildStatusService.activeQueue.length > 0,
            }"
          >
            <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
              <ng-template #header>
                <i class="pi pi-hourglass text-ctp-lavender mt-5" style="font-size: 5rem"></i>
              </ng-template>
              <ng-template #title>Waiting builds</ng-template>
              <ng-template #subtitle>These are currently queued builds</ng-template>
              <p-table
                [value]="buildStatusService.waitingQueue"
                [rows]="12"
                [rowsPerPageOptions]="[12, 20, 30]"
                [sortOrder]="1"
                [paginator]="buildStatusService.waitingQueue.length > 10"
                sortField="name"
              >
                <ng-template #header>
                  <tr>
                    <th>Name</th>
                    <th>Build class</th>
                  </tr>
                </ng-template>
                <ng-template #body let-pkg>
                  <tr>
                    <td>{{ pkg.name }}</td>
                    <td>{{ pkg.build_class | buildClass }}</td>
                  </tr>
                </ng-template>
              </p-table>
              <ng-template #footer>
                <div class="mt-1 flex gap-4"></div>
              </ng-template>
            </p-card>
          </div>
        }
        @if (buildStatusService.idleQueue.length > 0) {
          <div
            [ngClass]="{
              'mt-5': buildStatusService.activeQueue.length > 0 || buildStatusService.waitingQueue.length > 0,
            }"
          >
            <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
              <ng-template #header>
                <i class="pi pi-list text-ctp-peach mt-5" style="font-size: 5rem"></i>
              </ng-template>
              <ng-template #title>Idle builders</ng-template>
              <ng-template #subtitle>Currently idle builders</ng-template>
              <p-table [value]="buildStatusService.idleQueue" [sortOrder]="1" sortField="name">
                <ng-template #header>
                  <tr>
                    <th>Name</th>
                    <th>Build class</th>
                  </tr>
                </ng-template>
                <ng-template #body let-pkg>
                  <tr>
                    <td>{{ pkg.name }}</td>
                    <td>{{ pkg.build_class | buildClass }}</td>
                  </tr>
                </ng-template>
              </p-table>
              <ng-template #footer>
                <div class="mt-1 flex gap-4"></div>
              </ng-template>
            </p-card>
          </div>
        }
      </div>
      <p-card header="Latest deployments" class="md:w-1/4">
        <div class="mt-5">
          @if (!buildStatusService.loadingDeployments()) {
            <p-timeline [value]="buildStatusService.latestDeployments">
              <ng-template #opposite let-untypedDeployment>
                <ng-container *ngIf="typedDeployment(untypedDeployment) as deployment">
                  <small class="text-primary">{{ deployment.timestamp | date: 'short' }}</small>
                </ng-container>
              </ng-template>
              <ng-template #content let-untypedDeployment>
                <ng-container *ngIf="typedDeployment(untypedDeployment) as deployment">
                  <a pRipple [href]="deployment.logUrl"
                    >{{ deployment.pkgbase.pkgname }}
                    <br />
                    <a class="text-ctp-subtext1 text-xs">({{ deployment.repo?.name }})</a>
                  </a>
                </ng-container>
              </ng-template>
            </p-timeline>
          } @else {
            <div *ngFor="let item of createRange(22)" class="my-3">
              <p-skeleton width="100%" height="4rem"></p-skeleton>
            </div>
          }
        </div>
      </p-card>
    </div>
  } @else {
    <p-tabs [ngClass]="{ rounded: true }" value="0">
      <p-tablist>
        <p-tab value="0">Queue status</p-tab>
        <p-tab value="1">Pipelines</p-tab>
        <p-tab value="2">Deployments</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div class="chaotic-tab-content">
            @if (buildStatusService.loadingQueue()) {
              <div class="md:w-1/4">
                <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
                  <p-skeleton height="30rem" />
                </p-card>
              </div>
            }
            @if (buildStatusService.activeQueue.length > 0) {
              <div style="margin-top: 2.5rem">
                <p-card [style]="{ width: '100%', overflow: 'hidden' }">
                  <ng-template #header>
                    <i class="pi pi-spin pi-spinner text-ctp-flamingo mb-2 mt-8" style="font-size: 5rem"></i>
                  </ng-template>
                  <ng-template #title>Active builds</ng-template>
                  <ng-template #subtitle>These are currently ongoing builds</ng-template>
                  <p-table [value]="buildStatusService.activeQueue" [sortOrder]="1" sortField="name">
                    <ng-template #header>
                      <tr>
                        <th>Name</th>
                        <th>Node</th>
                        <th>Build class</th>
                        <th>Live log</th>
                      </tr>
                    </ng-template>
                    <ng-template #body let-pkg>
                      <tr>
                        <td>{{ pkg.name }}</td>
                        <td>{{ pkg.node }}</td>
                        <td pTooltip="{{ pkg.build_class | buildClass }}" tooltipPosition="top">
                          {{ pkg.build_class }}
                        </td>
                        <td>
                          <i class="pi pi-external-link text-ctp-mauve align-middle" style="font-size: 0.6rem"> </i
                          ><a pRipple href="{{ pkg.liveLogUrl }}"> click</a>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <ng-template #footer>
                    <div class="mt-1 flex gap-4"></div>
                  </ng-template>
                </p-card>
              </div>
            }
            @if (buildStatusService.waitingQueue.length > 0) {
              <div style="margin-top: 2.5rem">
                <p-card [style]="{ width: '100%', overflow: 'hidden' }">
                  <ng-template #header>
                    <i class="pi pi-hourglass text-ctp-lavender mt-5" style="font-size: 5rem"></i>
                  </ng-template>
                  <ng-template #title>Waiting builds</ng-template>
                  <ng-template #subtitle>These are currently queued builds</ng-template>
                  <p-table
                    [value]="buildStatusService.waitingQueue"
                    [rows]="12"
                    [rowsPerPageOptions]="[12, 20, 30]"
                    [sortOrder]="1"
                    [paginator]="buildStatusService.waitingQueue.length > 10"
                    sortField="name"
                  >
                    <ng-template #header>
                      <tr>
                        <th>Name</th>
                        <th>Build class</th>
                      </tr>
                    </ng-template>
                    <ng-template #body let-pkg>
                      <tr>
                        <td>{{ pkg.name }}</td>
                        <td>{{ pkg.build_class | buildClass }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <ng-template #footer>
                    <div class="mt-1 flex gap-4"></div>
                  </ng-template>
                </p-card>
              </div>
            }
            @if (buildStatusService.idleQueue.length > 0) {
              <div
                [ngClass]="{
                  'mt-5': buildStatusService.activeQueue.length > 0 || buildStatusService.waitingQueue.length > 0,
                }"
              >
                <p-card [style]="{ width: '100%', overflow: 'hidden' }">
                  <ng-template #header>
                    <i class="pi pi-list text-ctp-peach mt-5" style="font-size: 5rem"></i>
                  </ng-template>
                  <ng-template #title>Idle builders</ng-template>
                  <ng-template #subtitle>Currently idle builders</ng-template>
                  <p-table [value]="buildStatusService.idleQueue" [sortOrder]="1" sortField="name">
                    <ng-template #header>
                      <tr>
                        <th>Name</th>
                        <th>Build class</th>
                      </tr>
                    </ng-template>
                    <ng-template #body let-pkg>
                      <tr>
                        <td>{{ pkg.name }}</td>
                        <td>{{ pkg.build_class | buildClass }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <ng-template #footer>
                    <div class="mt-1 flex gap-4"></div>
                  </ng-template>
                </p-card>
              </div>
            }
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div class="chaotic-tab-content">
            @if (!buildStatusService.loadingPipelines()) {
              <p-timeline [value]="buildStatusService.pipelineWithStatus()">
                <ng-template #opposite let-unTypedPipeline>
                  <ng-container *ngIf="typed(unTypedPipeline) as pipeline">
                    <small class="text-primary">{{ pipeline.pipeline.created_at | date: 'short' }}</small>
                  </ng-container>
                </ng-template>
                <ng-template #content let-unTypedPipeline>
                  <ng-container *ngIf="typed(unTypedPipeline) as pipeline">
                    <div pRipple (click)="showDialog(pipeline.pipeline.id)" class="cursor-pointer">
                      <i
                        class="pi"
                        [ngClass]="{
                          'pi-check-circle text-ctp-green': pipeline.pipeline.status === 'success',
                          'pi-exclamation-circle text-ctp-red': pipeline.pipeline.status.includes('failed'),
                          'pi-spin pi-spinner text-ctp-peach': pipeline.pipeline.status === 'running',
                        }"
                      ></i>
                      <span class="ml-1">
                        <a>{{ pipeline.pipeline.status }}</a>
                      </span>
                    </div>
                  </ng-container>
                </ng-template>
              </p-timeline>
            } @else {
              <div *ngFor="let item of createRange(20)" class="my-3">
                <p-skeleton width="100%" height="4rem"></p-skeleton>
              </div>
            }
          </div>
        </p-tabpanel>
        <p-tabpanel value="2">
          <div class="chaotic-tab-content">
            @if (!buildStatusService.loadingDeployments()) {
              <p-timeline [value]="buildStatusService.latestDeployments">
                <ng-template #opposite let-untypedDeployment>
                  <ng-container *ngIf="typedDeployment(untypedDeployment) as deployment">
                    <small class="text-primary-emphasis-alt">{{ deployment.timestamp | date: 'short' }}</small>
                  </ng-container>
                </ng-template>
                <ng-template #content let-untypedDeployment>
                  <ng-container *ngIf="typedDeployment(untypedDeployment) as deployment">
                    <span>
                      <a pRipple [href]="deployment.logUrl">{{ deployment.pkgbase.pkgname }}</a
                      ><br />
                      <a class="text-sm">({{ deployment.repo?.name }})</a>
                    </span>
                  </ng-container>
                </ng-template>
              </p-timeline>
            } @else {
              <div *ngFor="let item of createRange(20)" class="my-3">
                <p-skeleton width="100%" height="4rem"></p-skeleton>
              </div>
            }
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  }
</div>
@if (dialogData().pipeline.source) {
  <p-dialog header="Pipeline details" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '90vw' }">
    <div class="mb-5 ml-2.5">
      <p>Source: {{ dialogData().pipeline.source }}</p>
      <p>Created at: {{ dialogData().pipeline.created_at | date: 'short' }}</p>
      <p>
        Web URL:
        <a class="text-ctp-mauve" [href]="dialogData().pipeline.web_url">{{ dialogData().pipeline.web_url }}</a>
      </p>
      <p>
        Commit:
        <a
          class="text-ctp-mauve"
          href="https://gitlab.com/chaotic-aur/pkgbuilds/-/commit/{{ dialogData().pipeline.sha }}"
          >{{ dialogData().pipeline.sha }}</a
        >
      </p>
    </div>
    @if (dialogData().commit.length > 0) {
      <p-table
        [value]="dialogData().commit"
        dataKey="id"
        sortField="finished_at"
        [sortOrder]="-1"
        [tableStyle]="{ width: '100%' }"
      >
        <ng-template #header>
          <tr>
            <th>Package</th>
            <th>Started</th>
            <th>Finished</th>
            <th>Status</th>
            <th>Message</th>
          </tr>
        </ng-template>
        <ng-template #body let-job>
          <tr>
            <td>
              <a class="text-ctp-mauve" [href]="job.target_url">{{ job.name }}</a>
            </td>
            <td>{{ job.started_at | date: 'short' }}</td>
            <td>{{ job.finished_at | date: 'short' }}</td>
            <td>
              <i
                class="pi"
                [ngClass]="{
                  'pi-check-circle text-ctp-green': job.status === 'success',
                  'pi-exclamation-circle text-ctp-red': job.status === 'failed',
                  'pi-spin pi-spinner text-ctp-peach': job.status === 'running',
                  'pi-clock text-ctp-surface0': job.status === 'pending',
                  'pi-info-circle text-ctp-text': job.status === 'canceled',
                }"
              ></i>
              {{ job.status }}
            </td>
            <td>{{ job.description }}</td>
          </tr>
        </ng-template>
      </p-table>
    } @else {
      <div class="ml-2.5">
        <p>There are no jobs in this pipeline (yet).</p>
        <p>
          Have a look at <a class="text-ctp-mauve" [href]="dialogData().pipeline.web_url">web UI</a> to look into
          details instead!
        </p>
      </div>
    }
  </p-dialog>
}
