<div class="mt-5">
  @if (!loading()) {
    <p-timeline [value]="pipelines()">
      <ng-template #opposite let-unTypedPipeline>
        @if (typed(unTypedPipeline); as pipeline) {
          <small
            class="text-primary"
            [pTooltip]="(pipeline.pipeline.created_at | date: 'short') ?? undefined"
            tooltipPosition="top"
            >{{ pipeline.pipeline.created_at | relativeTime }}</small
          >
        }
      </ng-template>
      <ng-template #content let-unTypedPipeline>
        @if (typed(unTypedPipeline); as pipeline) {
          <div class="flex items-center justify-between gap-3">
            <div
              class="inline-flex cursor-pointer items-center"
              (click)="openPipeline.emit(pipeline.pipeline.id)"
              (keydown.enter)="openPipeline.emit(pipeline.pipeline.id)"
              (keyup.space)="openPipeline.emit(pipeline.pipeline.id)"
              tabindex="0"
              role="button"
              pRipple
            >
              <i
                class="pi"
                [ngClass]="{
                  'pi-check-circle text-ctp-green': pipeline.statusText.includes('success'),
                  'pi-exclamation-circle text-ctp-red': pipeline.statusText.includes('failed'),
                  'pi-spin pi-spinner text-ctp-peach': pipeline.statusText === 'running',
                  'pi-info-circle text-ctp-text': pipeline.statusText === 'pending',
                  'pi-hourglass text-ctp-flamingo': pipeline.statusText === 'waiting_for_resource',
                  'pi-times-circle text-ctp-maroon': pipeline.statusText === 'canceling',
                  'pi-times-circle text-ctp-text': pipeline.statusText === 'canceled',
                }"
              ></i>
              <span class="ml-2">
                <a>{{ pipeline.statusText.replaceAll('_', ' ') }}</a>
              </span>
            </div>
            <a
              class="text-ctp-mauve hover:text-ctp-text"
              [routerLink]="['/logs', pipeline.pipeline.id]"
              pTooltip="View live logs"
              tooltipPosition="left"
              aria-label="View live logs for pipeline {{ pipeline.pipeline.id }}"
            >
              <i class="pi pi-bars"></i>
            </a>
          </div>
        }
      </ng-template>
    </p-timeline>
  } @else {
    @for (item of createRange(skeletonCount()); track $index) {
      <div class="my-3">
        <p-skeleton width="100%" height="4rem" />
      </div>
    }
  }
</div>
