<header class="chaotic-page-header">
  @switch (level()) {
    @case ('h2') {
      <h2 class="chaotic-page-header__title">{{ title() }}</h2>
    }
    @case ('h3') {
      <h3 class="chaotic-page-header__title">{{ title() }}</h3>
    }
    @default {
      <h1 class="chaotic-page-header__title">{{ title() }}</h1>
    }
  }
  @if (subtitleHtml()) {
    <p class="chaotic-page-header__subtitle" [innerHtml]="subtitleHtml()"></p>
  } @else if (subtitle()) {
    <p class="chaotic-page-header__subtitle">{{ subtitle() }}</p>
  }
  <ng-content />
</header>
