@if (show) {
  <div
    id="toast-reminder"
    class="fixed justify-end flex items-center w-full z-50 max-w-[18rem] p-4 space-x-4 {{
      textColor
    }}  bg-surface0/60 backdrop-blur rounded-lg shadow top-5 right-5"
    role="alert"
  >
    <div class="mr-auto text-sm font-normal">{{ text }}</div>
    @if (showCloseButton) {
      <button
        type="button"
        class="bg-surface0/60 text-mauve hover:bg-mauve -my-1.5 mx-auto ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg backdrop-blur hover:text-base focus:ring-2"
        data-dismiss-target="#toast-reminder"
        aria-label="Close"
        (click)="show = false"
      >
        <span class="sr-only">Close</span>
        <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
      </button>
    }
  </div>
}
