<div
  class="card relative flex justify-center min-h-[10rem] max-h-[60rem]"
  [style.height.px]="(amount() || 1) * 28 + 48"
>
  @if (hasData()) {
    <p-chart
      class="w-full h-full"
      [data]="chartConfig().data"
      [options]="chartConfig().options"
      [responsive]="true"
      type="bar"
    />
  } @else if (loading()) {
    <div class="absolute inset-0 flex items-center justify-center">
      <i class="pi pi-spin pi-spinner text-ctp-flamingo" style="font-size: 3rem"></i>
    </div>
  }
</div>
<p-input-number
  [(ngModel)]="amount"
  [showButtons]="true"
  [min]="1"
  (ngModelChange)="amount.set(Math.max(1, $event || 1))"
  mode="decimal"
  inputId="amount"
  placeholder="Number of packages"
/>
