<chaotic-title
  title="Package list"
  subtitle="This is the list of currently deployed, as well as historically built packages."
></chaotic-title>

<div class="chaotic-container-wide table-container">
  <p-table
    #pkgTable
    dataKey="id"
    sortField="pkgname"
    id="pkgTable"
    [value]="packageList"
    [rows]="25"
    [rowsPerPageOptions]="[25, 50, 100, 200]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['name', 'metadata.desc', 'metadata.url']"
    [sortOrder]="1"
  >
    <ng-template #caption>
      <div class="flex">
        <p-button class="mr-auto" label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(pkgTable)" />
        <p-iconfield iconPosition="left" class="ml-2.5 sm:ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            [value]="searchValue"
            (input)="globalFilter($event.target)"
            placeholder="Search keyword"
            class="w-full"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pSortableColumn="pkgname" style="min-width: 15rem">
          <div class="flex items-center">
            Name&nbsp;
            <p-sortIcon field="pkgname" />
          </div>
        </th>
        <th style="min-width: 10rem">
          <div class="flex items-center">Version</div>
        </th>
        <th pSortableColumn="lastUpdated" style="min-width: 10rem">
          <div class="flex items-center">
            Last updated&nbsp;
            <p-sortIcon field="lastUpdated" />
          </div>
        </th>
        <th style="min-width: 10rem">
          <div class="flex items-center">Description</div>
        </th>
        <th style="min-width: 15rem; max-width: 20rem">
          <div class="flex items-center">Homepage</div>
        </th>
        <th style="min-width: 5rem">
          <div class="flex items-center">Active</div>
        </th>
        <th style="min-width: 5rem">
          <div class="flex items-center">PKGBUILD</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-unTypedPkg>
      <ng-container *ngIf="typed(unTypedPkg) as pkg">
        <tr>
          <td>
            <span
              [ngClass]="{
                'text-surface0': !pkg.isActive,
              }"
              class="ml-1 align-middle"
              >{{ pkg.pkgname }}</span
            >
          </td>
          <td>
            <span
              [ngClass]="{
                'text-surface0': !pkg.isActive,
              }"
              class="ml-1 align-middle"
              >{{ pkg.version }}-{{ pkg.pkgrel }}</span
            >
          </td>
          <td>
            <span
              [ngClass]="{
                'text-surface0': !pkg.isActive,
              }"
              class="ml-1 align-middle"
              >{{ pkg.lastUpdated | date: 'short' }}</span
            >
          </td>
          <td>
            <span
              [ngClass]="{
                'text-surface0': !pkg.isActive,
              }"
              class="ml-1 align-middle"
              >{{ pkg.metadata?.desc }}</span
            >
          </td>
          <td>
            <span
              [ngClass]="{
                'text-surface0': !pkg.isActive,
              }"
              class="ml-1 align-middle"
              [innerHtml]="pkg.metadata?.url | stripPrefix"
            ></span>
          </td>
          <td>
            <i
              class="pi"
              [ngClass]="{
                'pi-check-circle text-green': pkg.isActive,
                'pi-trash text-surface0': !pkg.isActive,
              }"
            ></i>
          </td>
          <td>
            @if (pkg.isActive) {
              <p-button
                class="h-10"
                (click)="openPkgbuild(pkg)"
                [ngClass]="{
                  'text-surface0': !pkg.isActive,
                }"
                pButton
                type="button"
                label="Source"
              />
            } @else {
              <span class="text-surface0 ml-1 align-middle">N/A</span>
            }
          </td>
        </tr>
      </ng-container>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="5">No packages found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
