* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    font-family:
        Optima,
        Segoe,
        Segoe UI,
        Candara,
        Calibri,
        Arial,
        sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: small;
    color: rgb(200, 200, 200);
    overflow: hidden;
}
