<div class="chaotic-container-wide-center">
  <chaotic-title
    title="Statistics and data"
    subtitleHtml="Area for package statistics and other fun stuff.<br>Total users last month: {{
      packageStatsService.totalUsers()
    }}<br>All stats shown here are currently relating to one month of data."
  ></chaotic-title>

  <div>
    <p-tabs [(value)]="packageStatsService.currentTab" (valueChange)="changeTab($event)">
      <p-tablist>
        <p-tab value="0">Search</p-tab>
        <p-tab value="1">Globals</p-tab>
        <p-tab value="2">Downloads</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <chaotic-search-package></chaotic-search-package>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div class="mb-8">
            <p-card [style]="{ width: '100%', overflow: 'hidden' }" header="Country list">
              <chaotic-chart-countries></chaotic-chart-countries>
            </p-card>
          </div>
          <div class="mt-8">
            <p-card [style]="{ width: '100%', overflow: 'hidden' }" header="User agents">
              <chaotic-chart-useragent></chaotic-chart-useragent>
            </p-card>
          </div>
        </p-tabpanel>
        <p-tabpanel value="2">
          <chaotic-chart-downloads></chaotic-chart-downloads>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
