.p-tab {
  @apply mx-auto;
}

.p-card {
  background: unset;
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
}

.p-tabpanels {
  border-radius: 10px;
}

::ng-deep .p-tablist-tab-list {
  border-radius: 10px !important;
}
