@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
    background-color: #1e1e2e !important;
}

@layer base {
    @font-face {
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
}

.chaotic-h1 {
    @apply text-center text-6xl chaotic-text-color-mocha-maroon font-extrabold my-10;
}

.chaotic-h2 {
    @apply text-center text-4xl chaotic-text-color-mocha-maroon font-extrabold my-10;
}

.chaotic-h3 {
    @apply text-center text-2xl chaotic-text-color-mocha-maroon font-bold my-10;
}

.chaotic-list-regular {
    @apply px-10 md:px-32 lg:px-48 block space-y-1  list-disc list-inside  my-4 text-lg text-left;
}

.chaotic-text-color-regular {
    color: var(--ctp-mocha-text);
}

.chaotic-text-color-subtext1 {
    color: var(--ctp-mocha-subtext1);
}

.chaotic-text-color-peach {
    color: var(--ctp-mocha-peach);
}

.chaotic-background-mocha-maroon {
    background-color: var(--ctp-mocha-maroon);
}

.chaotic-background-surface0 {
    background-color: var(--ctp-mocha-surface0);
}

.hover\:chaotic-text-color-maroon:hover {
    color: var(--ctp-mocha-maroon);
}

.chaotic-background-mocha-mauve {
    background-color: var(--ctp-mocha-mauve);
}

.chaotic-background-mocha-rosewater {
    background-color: var(--ctp-mocha-rosewater);
}

.chaotic-text-color-mocha-maroon {
    color: var(--ctp-mocha-maroon);
}

.chaotic-container-regular {
    @apply container text-center mx-auto max-w-screen-xl align-middle;
}

.hover\:chaotic-grow-l:hover {
    @apply transition ease-in-out hover:scale-125;
}

.hover\:chaotic-grow-s:hover {
    @apply transition ease-in-out hover:scale-105;
}

.chaotic-glow {
    -webkit-box-shadow: 0 0 252px 0 rgba(--ctp-mocha-maroon-rgb, 0.9);
    -moz-box-shadow: 0 0 252px 0 rgba(--ctp-mocha-maroon-rgb, 0.9);
    box-shadow: 0 0 252px 0 rgba(--ctp-mocha-maroon-rgb, 0.9);
}

.chaotic-navbar {
    color: var(--ctp-mocha-mauve);
}

.chaotic-navbar:hover {
    color: var(--ctp-mocha-maroon);
}
