@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ctp-mocha-rosewater: #f5e0dc;
    --ctp-mocha-rosewater-rgb: 245 224 220;
    --ctp-mocha-rosewater-hsl: 9.6 55.556% 91.176%;
    --ctp-mocha-flamingo: #f2cdcd;
    --ctp-mocha-flamingo-rgb: 242 205 205;
    --ctp-mocha-flamingo-hsl: 0 58.73% 87.647%;
    --ctp-mocha-pink: #f5c2e7;
    --ctp-mocha-pink-rgb: 245 194 231;
    --ctp-mocha-pink-hsl: 316.471 71.831% 86.078%;
    --ctp-mocha-mauve: #cba6f7;
    --ctp-mocha-mauve-rgb: 203 166 247;
    --ctp-mocha-mauve-hsl: 267.407 83.505% 80.98%;
    --ctp-mocha-red: #f38ba8;
    --ctp-mocha-red-rgb: 243 139 168;
    --ctp-mocha-red-hsl: 343.269 81.25% 74.902%;
    --ctp-mocha-maroon: #eba0ac;
    --ctp-mocha-maroon-rgb: 235 160 172;
    --ctp-mocha-maroon-hsl: 350.4 65.217% 77.451%;
    --ctp-mocha-peach: #fab387;
    --ctp-mocha-peach-rgb: 250 179 135;
    --ctp-mocha-peach-hsl: 22.957 92% 75.49%;
    --ctp-mocha-yellow: #f9e2af;
    --ctp-mocha-yellow-rgb: 249 226 175;
    --ctp-mocha-yellow-hsl: 41.351 86.047% 83.137%;
    --ctp-mocha-green: #a6e3a1;
    --ctp-mocha-green-rgb: 166 227 161;
    --ctp-mocha-green-hsl: 115.455 54.098% 76.078%;
    --ctp-mocha-teal: #94e2d5;
    --ctp-mocha-teal-rgb: 148 226 213;
    --ctp-mocha-teal-hsl: 170 57.353% 73.333%;
    --ctp-mocha-sky: #89dceb;
    --ctp-mocha-sky-rgb: 137 220 235;
    --ctp-mocha-sky-hsl: 189.184 71.014% 72.941%;
    --ctp-mocha-sapphire: #74c7ec;
    --ctp-mocha-sapphire-rgb: 116 199 236;
    --ctp-mocha-sapphire-hsl: 198.5 75.949% 69.02%;
    --ctp-mocha-blue: #89b4fa;
    --ctp-mocha-blue-rgb: 137 180 250;
    --ctp-mocha-blue-hsl: 217.168 91.87% 75.882%;
    --ctp-mocha-lavender: #b4befe;
    --ctp-mocha-lavender-rgb: 180 190 254;
    --ctp-mocha-lavender-hsl: 231.892 97.368% 85.098%;
    --ctp-mocha-text: #cdd6f4;
    --ctp-mocha-text-rgb: 205 214 244;
    --ctp-mocha-text-hsl: 226.154 63.934% 88.039%;
    --ctp-mocha-subtext1: #bac2de;
    --ctp-mocha-subtext1-rgb: 186 194 222;
    --ctp-mocha-subtext1-hsl: 226.667 35.294% 80%;
    --ctp-mocha-subtext0: #a6adc8;
    --ctp-mocha-subtext0-rgb: 166 173 200;
    --ctp-mocha-subtext0-hsl: 227.647 23.611% 71.765%;
    --ctp-mocha-overlay2: #9399b2;
    --ctp-mocha-overlay2-rgb: 147 153 178;
    --ctp-mocha-overlay2-hsl: 228.387 16.757% 63.725%;
    --ctp-mocha-overlay1: #7f849c;
    --ctp-mocha-overlay1-rgb: 127 132 156;
    --ctp-mocha-overlay1-hsl: 229.655 12.775% 55.49%;
    --ctp-mocha-overlay0: #6c7086;
    --ctp-mocha-overlay0-rgb: 108 112 134;
    --ctp-mocha-overlay0-hsl: 230.769 10.744% 47.451%;
    --ctp-mocha-surface2: #585b70;
    --ctp-mocha-surface2-rgb: 88 91 112;
    --ctp-mocha-surface2-hsl: 232.5 12% 39.216%;
    --ctp-mocha-surface1: #45475a;
    --ctp-mocha-surface1-rgb: 69 71 90;
    --ctp-mocha-surface1-hsl: 234.286 13.208% 31.176%;
    --ctp-mocha-surface0: #313244;
    --ctp-mocha-surface0-rgb: 49 50 68;
    --ctp-mocha-surface0-hsl: 236.842 16.239% 22.941%;
    --ctp-mocha-base: #1e1e2e;
    --ctp-mocha-base-rgb: 30 30 46;
    --ctp-mocha-base-hsl: 240 21.053% 14.902%;
    --ctp-mocha-mantle: #181825;
    --ctp-mocha-mantle-rgb: 24 24 37;
    --ctp-mocha-mantle-hsl: 240 21.311% 11.961%;
    --ctp-mocha-crust: #11111b;
    --ctp-mocha-crust-rgb: 17 17 27;
    --ctp-mocha-crust-hsl: 240 22.727% 8.627%;
}

body {
    background-color: #1e1e2e !important;
}

@layer base {
    @font-face {
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
}

.chaotic-h1 {
    @apply text-center text-6xl chaotic-text-color-mocha-maroon font-extrabold my-10;
}

.chaotic-h2 {
    @apply text-center text-4xl chaotic-text-color-mocha-maroon font-extrabold my-10;
}

.chaotic-h3 {
    @apply text-center text-2xl chaotic-text-color-mocha-maroon font-bold my-10;
}

.chaotic-list-regular {
    @apply px-20 md:px-32 lg:px-48 block space-y-1  list-disc list-inside  my-4 text-lg text-left;
}

.chaotic-text-color-regular {
    color: var(--ctp-mocha-text);
}

.chaotic-text-color-subtext1 {
    color: var(--ctp-mocha-subtext1);
}

.chaotic-text-color-peach {
    color: var(--ctp-mocha-peach);
}

.chaotic-background-mocha-maroon {
    background-color: var(--ctp-mocha-maroon);
}

.chaotic-background-surface0 {
    background-color: var(--ctp-mocha-surface0);
}

.hover\:chaotic-text-color-maroon:hover {
    color: var(--ctp-mocha-maroon);
}

.chaotic-background-mocha-mauve {
    background-color: var(--ctp-mocha-mauve);
}

.chaotic-background-mocha-rosewater {
    background-color: var(--ctp-mocha-rosewater);
}

.chaotic-text-color-mocha-maroon {
    color: var(--ctp-mocha-maroon);
}

.chaotic-container-regular {
    @apply container text-center mx-auto max-w-screen-xl align-middle;
}

.hover\:chaotic-grow-l:hover {
    @apply transition ease-in-out hover:scale-125;
    background-color: var(--ctp-mocha-mauve);
}

.hover\:chaotic-grow-s:hover {
    @apply transition ease-in-out hover:scale-105;
    background-color: var(--ctp-mocha-mauve);
}

.chaotic-glow {
    -webkit-box-shadow: 0 0 252px 0 rgba(--ctp-mocha-maroon-rgb, 0.9);
    -moz-box-shadow: 0 0 252px 0 rgba(--ctp-mocha-maroon-rgb, 0.9);
    box-shadow: 0 0 252px 0 rgba(--ctp-mocha-maroon-rgb, 0.9);
}

.chaotic-navbar {
    color: var(--ctp-mocha-mauve);
}

.chaotic-navbar:hover {
    color: var(--ctp-mocha-maroon);
}
