<footer class="chaotic-footer">
  <p-card>
    <nav class="flex flex-wrap items-center justify-center gap-x-3 gap-y-1 text-center" aria-label="Footer links">
      <a class="text-ctp-mauve" href="https://aur.chaotic.cx" rel="noopener" target="_blank"
        >Chaotic-AUR &copy; {{ currentYear }}</a
      >
      <a class="text-ctp-mauve" href="https://gitlab.com/chaotic-aur" rel="noopener" target="_blank">GitLab</a>
      <a class="text-ctp-mauve" href="https://github.com/chaotic-aur" rel="noopener" target="_blank">GitHub</a>
      <a class="text-ctp-mauve" routerLink="/code-of-conduct">Code of Conduct</a>
      <a class="text-ctp-mauve" routerLink="/privacy">Privacy Policy</a>
      @if (version()) {
        <a
          class="text-ctp-overlay1"
          [href]="`https://github.com/chaotic-cx/chaotic-next/releases/tag/${version()}`"
          rel="noopener"
          target="_blank"
          >{{ version() }}</a
        >
      }
    </nav>
  </p-card>
</footer>
