<div class="chaotic-footer">
  <p-card role="note">
    <p class="text-ctp-maroon text-center">
      <a class="text-ctp-mauve" href="https://aur.chaotic.cx" rel="noopener" target="_blank">Chaotic-AUR &copy; 2025</a>
      | <a class="text-ctp-mauve" href="https://gitlab.com/chaotic-aur" rel="noopener" target="_blank">GitLab</a> |
      <a class="text-ctp-mauve" href="https://github.com/chaotic-aur" rel="noopener" target="_blank">GitHub</a> |
      <a class="text-ctp-mauve" href="https://github.com/chaotic-cx/code-of-conduct" rel="noopener" target="_blank"
        >Code of Conduct</a
      >
    </p>
  </p-card>
</div>
