<div class="bg-base mocha pt-10">
    <div class="container" [style.width.px]="400">
        <app-chaotic-attractor></app-chaotic-attractor>
    </div>

    <div class="container items-center mx-auto text-center pt-10">
        <h1
            class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-violet-500 md:text-5xl lg:text-6xl dark:text-white"
        >
            Binary repository for AUR packages
        </h1>
        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
            Compiling AUR packages for you so you don't have to!
        </p>
        <a
            routerLink="docs"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-red-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
        >
            How to make use of it
            <svg
                class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                />
            </svg>
        </a>
    </div>
</div>
