@reference "../../styles.css"

.fieldset-responsive {
  max-width: 90vw;
  overflow-x: auto;
}

::ng-deep .p-fieldset-content-wrapper {
  max-width: 90vw;
}

::ng-deep .p-fieldset-content {
  max-width: 100%;
  overflow-x: auto;
}
