<chaotic-title title="Deployment log" subtitle="The most recent deployments to Chaotic-AUR-managed repositories.">
</chaotic-title>

<div class="chaotic-container-wide table-container">
  <p-table
    #deployTable
    dataKey="id"
    sortField="timestamp"
    id="deployTable"
    [value]="packageList"
    [rows]="25"
    [rowsPerPageOptions]="[25, 50, 100, 200]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['pkgbase.pkgname', 'builder.name', 'repo.name']"
    [sortOrder]="-1"
  >
    <ng-template #caption>
      <div class="flex">
        <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(deployTable)" />
        <p-iconfield iconPosition="left" class="ml-2.5 sm:ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            [value]="searchValue()"
            (input)="globalFilter($event.target)"
            placeholder="Search keyword"
            class="w-full"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>
          <div class="flex items-center">
            Package name
            <p-columnFilter type="text" field="pkgbase.pkgname" display="menu" />
          </div>
        </th>
        <th>
          <div class="flex items-center">
            Builder
            <p-columnFilter type="text" field="builder.name" display="menu" />
          </div>
        </th>
        <th>
          <div class="flex items-center">
            Repository
            <p-columnFilter type="text" field="repo.name" display="menu" />
          </div>
        </th>
        <th>
          <div class="flex items-center">
            Outcome
            <p-columnFilter type="text" field="statusText" display="menu" />
          </div>
        </th>
        <th>
          <div class="flex items-center">Log URL</div>
        </th>
        <th pSortableColumn="timeToEnd">Duration&nbsp;<p-sortIcon field="timeToEnd" /></th>
        <th pSortableColumn="timestamp">
          <div class="flex items-center">Time of finish&nbsp;<p-sortIcon field="timestamp" /></div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-untypedBuild>
      <ng-container *ngIf="typed(untypedBuild) as build">
        <tr>
          <td>
            <span class="ml-1 align-middle">{{ build.pkgbase.pkgname }}</span>
          </td>
          <td>
            <span class="ml-1 align-middle">{{ build.builder?.name }}</span>
          </td>
          <td>
            <span class="ml-1 align-middle">{{ build.repo?.name }}</span>
          </td>
          <td>
            <i
              class="pi"
              [ngClass]="{
                'pi-check-circle text-green': build.statusText === 'success',
                'pi-check text-sapphire': build.statusText === 'already-built',
                'pi-angle-double-right text-text': build.statusText === 'skipped',
                'pi-exclamation-circle text-red': build.statusText === 'failure',
                'pi-hourglass text-maroon': build.statusText === 'timeout',
                'pi-ban text-peach': build.statusText === 'canceled',
                'pi-replay text-yellow': build.statusText === 'canceled-requeue',
                'pi-exclamation-triangle text-blue': build.statusText === 'software-failure',
              }"
            ></i>
            <span class="ml-1 align-middle">{{ build.statusText }}</span>
          </td>
          <td>
            <span class="ml-1 align-middle" [innerHTML]="build.logUrl | logurl"></span>
          </td>
          <td>
            <span class="ml-1 align-middle">{{ build.timeToEnd | duration }}</span>
          </td>
          <td>
            <span class="ml-1 align-middle">{{ build.timestamp | date: 'short' }}</span>
          </td>
        </tr>
      </ng-container>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="7">No packages found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
