<div class="h-dvh">
  <div class="container mx-auto mt-5 rounded-3xl md:max-w-sm"></div>

  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
      <div class="text-maroon mb-10 text-xl font-bold"><i class="pi pi-spin pi-spinner"></i>&nbsp;Chaotic-AUR</div>
      <div class="text-900 my-10 text-4xl font-bold">Automated building repo for AUR packages 👨🏻‍💻</div>
      <div class="text-700 my-5 text-2xl">Building AUR packages for you, so you don't have to!</div>
      <div>
        <button
          pButton
          pRipple
          pButtonLabel="Start right away"
          pButtonIcon="pi pi-discord"
          class="p-button-raised p-button-rounded white-space-nowrap px-5 py-3 font-bold"
          routerLink="docs"
        >
          Start right away
        </button>
      </div>
    </div>
  </div>
</div>

<div
  pAnimateOnScroll
  class="animate-duration-1000 mx-auto my-10 h-dvh"
  enterClass="animate-fadein"
  leaveClass="animate-fadeout"
  [once]="false"
>
  <chaotic-newsfeed></chaotic-newsfeed>
</div>
<div
  pAnimateOnScroll
  class="animate-duration-1000 mx-auto my-10"
  enterClass="animate-fadein"
  leaveClass="animate-fadeout"
  [once]="false"
>
  <chaotic-mirror-map></chaotic-mirror-map>
</div>
