<div [style.width.%]="70" class="container mt-5 rounded-3xl mx-auto md:max-w-sm">
  <chaotic-attractor></chaotic-attractor>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;Chaotic-AUR</div>
    <div class="text-900 font-bold text-4xl mb-3">Automated building repo for AUR packages 👨🏻‍💻</div>
    <div class="text-700 text-2xl mb-5">Building AUR packages for you, so you don't have to!</div>
    <div>
      <button
        pButton
        pRipple
        pButtonLabel="Start right away"
        pButtonIcon="pi pi-discord"
        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
      >
        Start right away
      </button>
    </div>
  </div>
</div>

<div class="mx-auto my-10">
  <chaotic-newsfeed></chaotic-newsfeed>
</div>
<div class="mx-auto my-10">
  <chaotic-mirror-map></chaotic-mirror-map>
</div>
